<!DOCTYPE html>
<html>
<head>
	<title>ISO - ISA International Students Quality of Life Survey</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">

		<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.js" type="text/javascript"></script>
		<script type="text/javascript" src="http://www.google.com/jsapi"></script>


		<script src="{{ STATIC_URL }}js/answers.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/iso_answers.js" type="text/javascript"></script>
	<script type="text/javascript">
	google.load('visualization', '1');
	</script>
</head>
<body>
	<div class="navbar">
	  <div class="navbar-inner">
	    <a class="brand" href="/" >ISA Quality of Life Initiative</a>
	    <ul class="nav pull-right">
	      <li><a href="/position/">Position</a></li>
	      <li class="active"><a href="/survey/">Survey</a></li>
	      <li><a href="/initiatives/">Initiatives</a></li>
	      <li><a href="/getinvolved/">Get Involved</a></li>
	    </ul>
	  </div>
	</div>
	<div class="container">

	<h2 class='h2red'>The International Students Office (ISO)</h2>
	<p></p>
	<div class='top_graphtext'>
		<p><a href="/survey/">Back to survey index</a><br />
		<i>Please mouse over bars to see result details</i><br />
	</div>
		<p><br /></p>

	<div id="section_ISO">

		<div id="ISO_question1">
			<h4>1. Legal and Immigration Help</h4>
			<h5>Please indicate your level of agreement or disagreement with the following statements:</h5>
			<p></p>
			<h5>I would go to the ISO for legal and immigration help.</h5>
			<div id="ISO_question1_chart" style="width: 100%; height: 300px;"></div>

			<h5>I trust the ISO's advice.</h5>
			<div id="ISO_question2_chart" style="width: 100%; height: 300px;"></div>
		</div>

		<div id="ISO_question3">
			<h4>2. Paperwork problems</h4>
			<h5>Please indicate your level of agreement or disagreement with the following statements:</h5>
			<p></p>
			<h5>I have had problems with the ISO and my legal documentation.</h5>
			<div id="ISO_question3_chart" style="width: 100%; height: 300px;"></div>
		</div>

		<div id="ISO_question4">
			<h4>3. Advisors</h4>
			<h5>Please indicate your level of agreement or disagreement with the following statements:</h5>
			<p></p>
			<h5>ISO advisors are easy to access.</h5>
			<div id="ISO_question4_chart" style="width: 100%; height: 300px;"></div>

			<h5>ISO advisors are approachable.</h5>
			<div id="ISO_question5_chart" style="width: 100%; height: 300px;"></div>
		</div>

		<div id="ISO_question5">
			<h4>4. Role</h4>
			<h5>Please indicate your level of agreement or disagreement with the following statements:</h5>
			<p></p>
			<h5>I would go to the ISO for non-immigration/non-legal advice.</h5>
			<div id="ISO_question6_chart" style="width: 100%; height: 300px;"></div>

			<h5>The ISO provides non-legal advice/support.</h5>
			<div id="ISO_question7_chart" style="width: 100%; height: 300px;"></div>

			<h5>I think the ISO should advocate on my behalf.</h5>
			<div id="ISO_question8_chart" style="width: 100%; height: 300px;"></div>

			<h5>I would go to the ISO for academic help.</h5>
			<div id="ISO_question9_chart" style="width: 100%; height: 300px;"></div>

			<h5>I wish the ISO would do more to enhance the international community.</h5>
			<div id="ISO_question10_chart" style="width: 100%; height: 300px;"></div>

			<h5>ISO study breaks are an effective way for me to interact/meet other international students.</h5>
			<div id="ISO_question11_chart" style="width: 100%; height: 300px;"></div>

			<h5>ISO's orientation helped me adjust to MIT and living in America.</h5>
			<div id="ISO_question12_chart" style="width: 100%; height: 300px;"></div>

			<h5>I think the ISO should help me connect with other international students.</h5>
			<div id="ISO_question13_chart" style="width: 100%; height: 300px;"></div>

			<h5>14.	Overall I think the ISO does a great job.</h5>
			<div id="ISO_question14_chart" style="width: 100%; height: 300px;"></div>

		</div>


	<a href="/survey/">Back to survey index</a>
		<p></p>
	</div>

	<footer>
		<hr>
		International Students Association <br />
		Contact us at <a href="mailto:isa-survey@mit.edu">isa-survey@mit.edu</a>
	</footer>
</body>