<!DOCTYPE html>
<html>
<head>
	<title>Academic Experience - ISA International Students Quality of Life Survey</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">

		<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.js" type="text/javascript"></script>
		<script type="text/javascript" src="http://www.google.com/jsapi"></script>


		<script src="{{ STATIC_URL }}js/answers.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/academic_answers.js" type="text/javascript"></script>
			<script type="text/javascript">
		  google.load("visualization", "1", {packages: ["corechart"]});
			</script>

</head>
<body>

	<div class="navbar">
	  <div class="navbar-inner">
	    <a class="brand" href="/" >ISA Quality of Life Initiative</a>
	    <ul class="nav pull-right">
	      <li><a href="/position/">Position</a></li>
	      <li class="active"><a href="/survey/">Survey</a></li>
	      <li><a href="/initiatives/">Initiatives</a></li>
	      <li><a href="/getinvolved/">Get Involved</a></li>
	    </ul>
	  </div>
	</div>
	
	<div class="container">
	<h2 class='h2red'>Academic Experience</h2>
	<p></p>
	<div class='top_graphtext'>
		<p><a href="/survey/">Back to survey index</a><br />
		<i>Please mouse over bars to see result details</i><br />
	</div>
	<p><br /></p>

	<div id="section_academic">

		<div id="academic_question1">
			<h4>1. Student satisfaction</h4>
			<h5>Overall, how satisfied are you being a student at MIT?</h5>
			<div id="academic_question1_chart" style="width: 100%; height: 300px;"></div>
		</div>

		<div id="academic_question2">
			<h4>2. Academic experience</h4>
			<h5>Rate your academic experience at MIT.</h5>
			<div id="academic_question2_chart" style="width: 100%; height: 300px;"></div>
		</div>

		<div id="academic_question3">
			<h4>3. Student life experience</h4>
			<h5>Rate your student life experience at MIT.</h5>
			<div id="academic_question3_chart" style="width: 100%; height: 300px;"></div>
		</div>

		<div id="academic_question4">
			<h4>4. Personal Development</h4>
			<h5>Rate your personal development opportunities at MIT.</h5>
			<div id="academic_question4_chart" style="width: 100%; height: 300px;"></div>
		</div>

		<div id="academic_question5">
			<h4>5. Professional Development</h4>
			<h5>Rate your professional development opportunities at MIT.</h5>
			<div id="academic_question5_chart" style="width: 100%; height: 300px;"></div>
		</div>

		<div id="academic_question6">
			<h4>6. Support from academic faculty</h4>
			<h5>Please indicate your level of agreement or disagreement with the following statement: "I can reach out to academic faculty in times of need".</h5>
			<div id="academic_question6_chart" style="width: 100%; height: 300px;"></div>
		</div>

		<div id="academic_question7">
			<h4>7. Communicating in class</h4>
			<h5>Please indicate your level of agreement or disagreement with the following statement: "I can communicate effectively in class".</h5>
			<div id="academic_question7_chart" style="width: 100%; height: 300px;"></div>
		</div>

		<div id="academic_question8">
			<h4>8. HASS/CI requirement</h4>
			<h5>Please indicate your level of agreement or disagreement with the following statement: "I struggle with my HASS or Writing classes".</h5>
			<div id="academic_question8_chart" style="width: 100%; height: 300px;"></div>
		</div>

		<div id="academic_question9">
			<h4>9. Support with class material</h4>
			<h5>Please indicate your level of agreement or disagreement with the following statement: "I can reach out to faculty/staff for help with class material".</h5>
			<div id="academic_question9_chart" style="width: 100%; height: 300px;"></div>
		</div>

	<a href="/survey/">Back to survey index</a>
		<p></p>
	</div>

	<footer>
		<hr>
		International Students Association <br />
		Contact us at <a href="mailto:isa-survey@mit.edu">isa-survey@mit.edu</a>
	</footer>
</body>