<!DOCTYPE html>
<html>
<head>
	<title>Health and Well Being - ISA International Students Quality of Life Survey</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">

		<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.js" type="text/javascript"></script>
		<script type="text/javascript" src="http://www.google.com/jsapi"></script>


		<script src="{{ STATIC_URL }}js/answers.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/health_answers.js" type="text/javascript"></script>
		<script type="text/javascript">
	  google.load("visualization", "1", {packages: ["corechart"]});
		</script>

</head>
<body>
	<div class="navbar">
	  <div class="navbar-inner">
	    <a class="brand" href="/" >ISA Quality of Life Initiative</a>
	    <ul class="nav pull-right">
	      <li><a href="/position/">Position</a></li>
	      <li class="active"><a href="/survey/">Survey</a></li>
	      <li><a href="/initiatives/">Initiatives</a></li>
	      <li><a href="/getinvolved/">Get Involved</a></li>
	    </ul>
	  </div>
	</div>

	<div class='container'>

	<h2 class='h2red'>Health and Well Being</h2>
	<p></p>
	<div class='top_graphtext'>
		<p><a href="/survey/">Back to survey index</a><br />
		<i>Please mouse over bars to see result details</i><br />
	</div>
		<p><br /></p>

	<div id="section_health">

		<div id="health_question1">
			<h4>1. Personal well being</h4>
			<h5>Please indicate your level of agreement or disagreement with the following statements.</h5>
			<h5>I have time to do some physical exercise</h5>
			<div id="health_question1_chart" style="width: 100%; height: 300px;"></div>

			<h5>I eat regularly and healthily</h5>
			<div id="health_question2_chart" style="width: 100%; height: 300px;"></div>

			<h5>I eat food from my home country occasionally</h5>
			<div id="health_question3_chart" style="width: 100%; height: 300px;"></div>

			<h5>I get adequate sleep (>5 hours/night)</h5>
			<div id="health_question4_chart" style="width: 100%; height: 300px;"></div>
		</div>

		<div id="health_question2">
			<h4>2. Adapting</h4>
			<h5>Please indicate your level of agreement or disagreement with the following statements.</h5>

			<h5>I have experienced 'home-sickness'</h5>
			<div id="health_question5_chart" style="width: 100%; height: 300px;"></div>

			<h5>I have experienced culture-shock during my time at MIT</h5>
			<div id="health_question6_chart" style="width: 100%; height: 300px;"></div>
		</div>

		<div id="health_question3">
			<h4>3. Mental Health</h4>
			<h5>Please indicate your level of agreement or disagreement with the following statements.</h5>

			<h5>I would go to MIT Mental Health, if needed.</h5>
			<div id="health_question7_chart" style="width: 100%; height: 300px;"></div>

			<h5>I have experienced symptoms of depression during my time at MIT.</h5>
			<div id="health_question8_chart" style="width: 100%; height: 300px;"></div>

			<h5>I have considered taking time off from MIT.</h5>
			<div id="health_question9_chart" style="width: 100%; height: 300px;"></div>

			<h5>If I go to MIT Mental Health, I think they will ask me to take time off and go back to my country.</h5>
			<div id="health_question10_chart" style="width: 100%; height: 300px;"></div>

			<h5>Mental health is a stigma in my home country.</h5>
			<div id="health_question11_chart" style="width: 100%; height: 300px;"></div>

			<h5>I am currently experiencing symptoms of depression.</h5>
			<div id="health_question12_chart" style="width: 100%; height: 300px;"></div>

			<h5>I have had suicidal thoughts at MIT.</h5>
			<div id="health_question13_chart" style="width: 100%; height: 300px;"></div>

			<h5>I know other international students who are 'struggling' at MIT.</h5>
			<div id="health_question14_chart" style="width: 100%; height: 300px;"></div>

			<h5>I would recommend they contact MIT Mental Health and Counseling.</h5>
			<div id="health_question15_chart" style="width: 100%; height: 300px;"></div>

			<h5>I think there are resources at MIT Medical that cater to international student needs.</h5>
			<div id="health_question16_chart" style="width: 100%; height: 300px;"></div>

			<h5>I think MIT Mental Health and Counseling meets the needs of international students.</h5>
			<div id="health_question17_chart" style="width: 100%; height: 300px;"></div>
		</div>

		<div id="health_question4">
			<h4>4. Resources</h4>
			<h5>Please indicate your level of agreement or disagreement with the following statement: I would go to the ISO for issues concerning the health and well being of myself or someone of someone I know.</h5>
			<div id="health_question18_chart" style="width: 100%; height: 300px;"></div>

			<h5>Of the following whom would you FIRST turn to in times of difficulty?</h5>
			<div id="health_question19_chart" style="width: 100%; height: 300px;"></div>
		</div>

		<div id="health_question5">
			<h4>5. Medication and time off</h4>
			<h5>Have you taken medication for mental health reasons while at MIT?</h5>
			<div id="health_question20_chart" style="width: 100%; height: 300px;"></div>

			<h5>Have you taken time off from MIT because of health/mental reasons?</h5>
			<div id="health_question21_chart" style="width: 100%; height: 300px;"></div>
		</div>


		<p></p>

	<a href="/survey/">Back to survey index</a>
		<p></p>
	</div>

	<footer>
		<hr>
		International Students Association <br />
		Contact us at <a href="mailto:isa-survey@mit.edu">isa-survey@mit.edu</a>
	</footer>
</body>