<!DOCTYPE html>
<html>
<head>
	<title>ISA International Students Quality of Life Survey</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">

	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/bootstrap.js" type="text/javascript"></script>
	<script type="text/javascript" src="http://www.google.com/jsapi"></script>
</head>

<body>
	<div class="navbar">
	  <div class="navbar-inner">
	    <a class="brand" href="/" >ISA Quality of Life Initiative</a>
	    <ul class="nav pull-right">
	      <li><a href="/position/">Position</a></li>
	      <li class="active"><a href="/survey/">Survey</a></li>
	      <li><a href="/initiatives/">Initiatives</a></li>
	    </ul>
	  </div>
	</div>

	<div class='container'>
		<h2 class='h2small'>International Students</h2>
		<h1 class='h1small'>Quality of Life Survey</h1>
		<p><br /></p>

		<h3>Disclaimer</h3>

		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			<h3>Motivations</h3>
		<p>
			Approximately 9% of the undergraduate student body and 40% of the graduate student body are international students. There is a larger body of students who are legally American, but have never lived in the United States. Over the years the ISA has heard numerous stories of students who love MIT but struggle to find a supportive community.<br/ ><br/ >
			This semester we wanted to hear the voices of the larger community. In the recent past Chancellor Grimson advertised the Student Quality of Life Survey. We, at the ISA, took the survey and realized that despite its length there were few questions pertaining to international students. Of course we are members of the MIT community, but our needs are somewhat distinct from the domestic students. We took this opportunity and designed our own survey. We took questions from Chancellor Grimson's survey and tailored them to our (the international community's) needs and requirement.<br/ ><br/ >
			The following 10-minute survey was open to the students, namely the international community for a just one week. All responses were anonymous and will be kept that way. The students were questioned on their social, academic, and personal well-being. In addition they were asked to evaluate the different resources on campus.<br/ ><br/ >

		</p>
		<h3>Contents</h3>
		<p></p>

		<ol>
			<li><h4><a href='section_major_results.html'>Major results</a></h4></li>
			<li><h4><a href='section_demographics.html'>Demographics</a></h4></li>
			<li><h4><a href='section_ISO.html'>The International Students Office</a></h4></li>
			<li><h4><a href='section_academic.html'>Academic Experience</a></h4></li>
			<li><h4><a href='section_social.html'>Social Life at MIT</a></h4></li>
			<li><h4><a href='section_finances.html'>Financial Information</a></h4></li>
			<li><h4><a href='section_international.html'>Being an International Student at MIT</a></h4></li>
			<li><h4><a href='section_health.html'>Health and Well Being</a></h4></li>
			<li><h4><a href='section_resources.html'>International Student Resources</a></h4></li>
		</ol>
		
	</div>


	<p><br /><br /></p>

	<footer>
		<hr>
		International Students Association <br />
		Contact us at <a href:"mailto:isa-execcom@mit.edu">isa-execcom@mit.edu</a>
	</footer>
</body>
</html>